.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
}

.tab-container {
  display: flex;
}

.c-view {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full,
.col-half,
.col-third,
.col-two-third {
  width: 100%;
}

.col-fourth {
  width: 50%;
}

.col-auto {
  width: auto;
}

@media screen and (min-width: 768px) {
  .col-full,
  .col-half,
  .col-third,
  .col-fourth,
  .col-two-third,
  .col-auto {
    padding: 0 0.75rem;
  }

  .col-half {
    width: 50%;
  }

  .col-third {
    width: calc(100% / 3);
  }

  .col-fourth {
    width: calc(100% / 4);
  }

  .col-two-third {
    width: calc(200% / 3);
  }

  .carousel {
    position: fixed;
    top: 3rem;
    left: 0.01rem;
  }

  .detail-info > h2 {
    margin-top: 0;
  }
}
