body {
  background-color: #242429;
  font-family: "Proza Libre", sans-serif;
  color: white;
}

header {
  background-color: #343a40;
}

a {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
}

div.tab-container > a {
  padding: 0 1rem;
  text-decoration: none;
  color: grey;
}

div.tab-container > a:hover {
  color: white;
}

img {
  width: 100%;
}

p {
  padding: 1rem;
  margin: 0;
}

.fixed {
  position: fixed;
  width: 100%;
}

.home-button {
  font-size: 1.5rem;
}

.list-button {
  font-size: 1rem;
}

.view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tab {
  font-size: 1rem;
}

div.tab-container > a.active {
  color: white;
}

.poster-wrapper {
  position: relative;
  width: 500px;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.space-evenly {
  justify-content: space-evenly;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.pos-abs-left {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  background-color: #e3e6e94f;
}

.pos-abs-right {
  position: absolute;
  top: 50%;
  right: 0.2rem;
  background-color: #e3e6e94f;
}

.pos-abs-left:hover,
.pos-abs-right:hover {
  background-color: #4d4f514f;
}

i.fa-circle {
  padding: 0.3rem;
  cursor: pointer;
  font-size: 0.75rem;
}

.bold {
  font-weight: bold;
}

.pd-tb {
  padding: 0.5rem 0;
}

.pd-tb1 {
  padding: 1rem 0;
}

.pd-tb3 {
  padding: 3rem 0;
}

.pd-t2 {
  padding-top: 2rem;
}

.pd-lr {
  padding: 0 2rem;
}

.pd {
  padding: 2rem;
}

.border-r {
  border-radius: 0.3rem;
}
